.floating-wpp{position:fixed;bottom:15px;left:15px;font-size:14px;transition:bottom .2s}.floating-wpp .floating-wpp-button{position:relative;border-radius:50%;box-shadow:1px 1px 4px rgba(60,60,60,.4);transition:box-shadow .2s;cursor:pointer;overflow:hidden}.floating-wpp .floating-wpp-button img,.floating-wpp .floating-wpp-button svg{position:absolute;width:100%;height:auto;object-fit:cover;top:50%;left:50%;transform:translate3d(-50%,-50%,0);border-radius:50%}.floating-wpp:hover{bottom:17px}.floating-wpp:hover .floating-wpp-button{box-shadow:1px 2px 8px rgba(60,60,60,.4)}.floating-wpp .floating-wpp-popup{border-radius:6px;background-color:#E5DDD5;position:absolute;overflow:hidden;padding:0;box-shadow:1px 2px 8px rgba(60,60,60,.25);width:0;height:0;bottom:0;opacity:0;transition:bottom .1s ease-out,opacity .2s ease-out;transform-origin:bottom}.floating-wpp .floating-wpp-popup.active{padding:0 12px 12px;width:260px;height:auto;bottom:82px;opacity:1}.floating-wpp .floating-wpp-popup .floating-wpp-message{background-color:#fff;padding:8px;border-radius:0 5px 5px;box-shadow:1px 1px 1px rgba(0,0,0,.15);opacity:0;transition:opacity .2s}.floating-wpp .floating-wpp-popup.active .floating-wpp-message{opacity:1;transition-delay:.2s}.floating-wpp .floating-wpp-popup .floating-wpp-head{text-align:right;color:#fff;margin:0 -15px 10px;padding:6px 12px;display:flex;justify-content:space-between;cursor:pointer}.floating-wpp .floating-wpp-input-message{background-color:#fff;margin:10px -15px -15px;padding:0 15px;display:flex;align-items:center}.floating-wpp .floating-wpp-input-message textarea{border:1px solid #ccc;border-radius:4px;box-shadow:none;padding:8px;margin:10px 0;width:100%;max-width:100%;font-family:inherit;font-size:inherit;resize:none}.floating-wpp .floating-wpp-btn-send{margin-left:12px;font-size:0;cursor:pointer}

/***************************Main Header and body background css********************/
body,nav{
	
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23dedede' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.center{
	
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

nav{
font-family: 'Balsamiq Sans', cursive;
font-size: 20px;
}


/*********************CommonCode******************/


.mainCard{
	/*background-color: rgb(0,0,0);*/
	
	width: 100%;
	border-radius: 5px;
	padding: 10px;
	size: 1px;
	text-align: justify;
	float: left;
	margin-top: 40px;
  
 
	
}

/******************Home Page************/

.card1{
	font-family: 'Kalam', cursive;
	margin-top: 10px;
	font-size: 20px;
}

.fact{
  text-align: center;
}

.logo{
  margin-top: 15px;
}

/******************Classes************/

h4,h1{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	padding: 10px;
	margin: 20px;
	
}

.cont{
		font-size: 16px;
		font-family: 'Quicksand', sans-serif;
}

.theme{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;

}

.course{
	box-shadow: 0 1px 5px 1px #cccccc;
}

.week{
	text-align: center;
	background-color: transparent;
	font-size: 18px;
}

.card-deck{
	margin-bottom: 50px;
}


#num{
	text-align: center;
	font-size: 45px;
	background-color: transparent;
}

/**************About**************************/
.abcont{
font-family: 'Forum', cursive;
	font-size: 20px;
}

.adjust{
  top: 25%;
  bottom: 25%;
}

.card3 {
  margin: auto;
  width: 50%;
}

/*****************Font***********************/



/********** Large devices only **********/
@media (min-width: 1200px) {
  
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

 
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  

}


/********** Extra small devices only **********/
@media (max-width: 767px) {


	.course{
		font-size: 16px;
	}

	#num{
		text-align: center;
		font-size: 20px;
	}






  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  .menu-item-photo {
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  .menu-item-description {
    text-align: center;;
  }
}
