
/***************************Main Header and body background css********************/
body,nav{	
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23dedede' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.center{	
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav{
font-family: 'Balsamiq Sans', cursive;
font-size: 20px;
}

/*********************CommonCode******************/
.mainCard{
	/*background-color: rgb(0,0,0);*/
	
	width: 100%;
	border-radius: 5px;
	padding: 10px;
	size: 1px;
	text-align: justify;
	float: left;
	margin-top: 40px;	
}

/******************Home Page************/

.card1{
	font-family: 'Kalam', cursive;
	margin-top: 10px;
  font-size: 20px;
  text-align: justify;
}

.fact{
  text-align: center;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
    
}

.logo{
  margin-top: 15px;
}

/******************Classes************/

h4,h1{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	padding: 10px;
	margin: 20px;
	
}

.cont{
		font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
}

.theme{
	font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  text-align: justify;

}

.week{
	text-align: center;
	background-color: transparent;
	font-size: 18px;
}

.card-deck{
	margin-bottom: 50px;
}

.card-text{
  text-align: justify;
}
#num{
	text-align: center;
	font-size: 45px;
	background-color: transparent;
}

/**************About**************************/
.abcont{
  font-family: 'Forum', cursive;
  font-size: 20px;
  text-align: justify;
}

.adjust{
  top: 25%;
  bottom: 25%;
}

.card3 {
  margin : auto;
  width: 50%;
}

.card4 {
  margin : auto;
  width: 75%;
}

